<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SketcherLine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">Compilador en Typescript</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Integrantes
      </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">Juan Carlos Aranda Alonso</a>
                    <a class="dropdown-item">Jose Adolfo Chaparro Armenta</a>
                    <a class="dropdown-item">Carlos Eduardo Moreno Camacho</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Deja tus comentarios" #input>
            <button class="btn btn-outline-primary my-2 my-sm-0" (click)="sendComments(input.value)" type="submit">Enviar</button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>